.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.features-icon {
  fill: #2e2f42;
}

@media screen and (max-width: 767px) {
  .features-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .features-item {
    width: 100%;
  }

  .features-icon-box {
    display: none;
  }

  .features-subtitle {
    text-align: center;
    margin-bottom: 8px;
  }

  .features-text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features {
    padding: 96px 0;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-icon-box {
    display: none;
  }

  .features-subtitle {
    text-align: left;
  }
}
